@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Lugrasimo&family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Lugrasimo&family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");

:root {
  --body-color: rgb(241, 241, 241);
  --body-background: black;
  --warna-navbar: hsl(300, 14%, 52%);
  --border: #9c5190;
  --navbar-color: rgb(207, 130, 243);
  --logo-color: rgb(17, 15, 17);
  --navbar-nav: rgb(255, 255, 255);
  --navbar-hover: rgb(0, 0, 0);
  --navbar-ekstra: aliceblue;
  --ekstra-hover: black;
  --tablet-navbar: #bb8bb3;
  --hero: #9c5190;
  --tablet-nav: #ffffff;
  --hero-content: rgb(144, 106, 160);
  --hero-h1: rgb(207, 130, 243);
  --hero-h5: rgb(66, 16, 88);
}

/* Mengatur margin dan padding untuk elemen target */
section#contact {
  margin-top: 900px; /* Sesuaikan dengan tinggi navbar Anda */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT sans", sans-serif;
  background-color: var(--body-background);
  color: var(--body-color);
  min-height: 2000px;
  background-color: #c08ab5;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--warna-navbar);
  border-bottom: 1px solid var(--border);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--navbar-color);
  font-family: "Caveat";
}

.navbar .navbar-logo span {
  color: var(--logo-color);
}

.navbar .navbar-nav a {
  color: var(--navbar-nav);
  display: inline-block;
  font-size: 1.7rem;
  margin: 0 1rem;
  font-weight: 300;
}

.navbar .navbar-nav a:hover {
  color: var(--navbar-hover);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem;
  transform: scaleX(0);
}

.navbar .navbar-extra a {
  color: var(--navbar-ekstra);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--ekstra-hover);
}

#hamburger-menu {
  display: none;
}

/* hero section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--hero);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(146, 68, 161));
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../black.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .content {
  padding: 2rem 10%;
  max-width: 70rem;
}

.hero .content h1 {
  font-size: 3cm;
  color: var(--hero-content);
  text-shadow: 1px 1px 3px var(--hero-h1);
  line-height: 1.2;
}

.hero .content h5 {
  font-size: 1cm;
  text-shadow: 1px 1px 3px var(--hero-h5);
  line-height: 2;
}

.hero .content p {
  font-size: 0.5cm;
  font-family: "Lugrasimo";
  line-height: 1.2;
}

/* about section */
.about,
.product,
.contact {
  padding: 11rem 7% 1.8rem;
  background-color: #83577b;
  padding: 11rem 8% 1.9rem;
  background-color: #bb8bb3;
}

.about h2,
.product h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 5rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 90%;
  border-radius: 30px;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: justify;
}

/* product baris atas */

.product .row {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  float: left;
  flex-flow: row;
}

.product .row .product-card {
  text-align: center;
  padding-bottom: 2rem;
}

.product .row .product-card img {
  border-radius: 80%;
  width: 60%;
}

.product .row .product-card .product-card-title {
  margin-top: 1.5rem auto 1.4rem;
}
/* product baris atas end */

/* contact section */
.contact .row {
  display: flex;
  margin-top: 10rem;
  background-color: #642b5a;
}

.contact .row .map {
  flex: 1 1 50rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #80376d;
  border: 1px solid #ffffff;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #ffffff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #222020;
  background-color: #e0b4d5;
  cursor: pointer;
}

/* footer */
footer {
  background-color: #805277;
  text-align: center;
  padding: 1rem 0 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #ffffff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #222020;
}

footer .links {
  margin-bottom: 1.5rem;
}

footer .links a {
  color: #ffffff;
  padding: 0.7rem 1rem;
  font-size: 2rem;
}

footer .credit {
  font-size: 1rem;
}

footer .credit a {
  color: #222020;
  font-weight: 700;
}
/* media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--tablet-navbar);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--tablet-nav);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .product .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
    /* float: left; */
  }
  .product .row .product-card img {
    border-radius: 80%;
    width: 30%;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
/* hero section */
